In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split, KFold,StratifiedKFold

In [18]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)

In [19]:
y = df['d']

In [20]:
X = df.drop('d',axis=1)
X

      a     b     c
0     1     2     3
1   100   200   300
2   100   200   300
3   100   200   300
4   100   200   300
5   100   200   300
6  1000  2000  3000

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [24]:
kf = StratifiedKFold(n_splits=2, random_state=42, shuffle=True)
a, b = kf.split(X_train, y_train)

a

C:\Users\luigi.borriello2\.conda\envs\ts\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  UserWarning,

(array([1, 4]), array([0, 2, 3]))